@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins";
  margin: 50px;
  background-color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
.bigbox {
  width: 380px;
  height: 830px;
  background-color: #f1f2f6;
  border-radius: 35px;
  box-shadow: 15px 15px 25px gray, 0px 0px 10px gray inset;
}
.topbox {
  height: 380px;
}
.topbox .topbox__img {
  width: 380px;
  height: 380px;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.status__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 14px;
  z-index: 2;
}
.topbox__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-size: 23px;
  z-index: 10;
}
.topbox__smimg-img {
  height: 50px;
  width: 50px;
  background-color: #4067ff;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 10px;
  border-radius: 15px;
}
.topbox__smimg {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 200px;
}
.topbox__tag {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  top: 10px;
}
.topbox__tag-name {
  background-color: #aabbf0;
  color: #4067ff;
  padding: 8px 15px;
  margin-right: 11px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  border-bottom-left-radius: 0px;
}
.bottombox__header {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
}
.bottombox__header-heartbox {
  border-radius: 50%;
  padding: 7px;
  background-color: #ffffff;
  color: red;
  font-size: 20px;
}
.bottombox__address {
  margin: 15px 30px;
}
.bottombox__address i {
  color: #4067ff;
  font-size: 13px;
}
.bottombox__address-detail {
  opacity: 0.3;
  font-weight: 400;
  margin-left: 5px;
}
.bottombox__scoredis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 500;
}
.bottombox__score i {
  color: #ffbc00;
  font-size: 16px;
}
.bottombox__score span {
  margin-left: 5px;
}
.bottombox__dis {
  opacity: 0.3;
}
.bottombox__sen {
  margin-left: 30px;
  margin-right: 30px;
}
.bottombox__sen-first {
  opacity: 0.3;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
}
.bottombox__sen-second {
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.bottombox__sen-third {
  color: #4067ff;
  font-weight: 500;
  font-size: 17px;
  margin-top: 12px;
}
.nav__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dde1e7;
  width: 90px;
  height: 90px;
  margin-left: 145px;
  margin-right: 145px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -95px;
}
.nav__box i {
  color: white;
  background-color: #4067ff;
  border-radius: 50%;
  padding: 18px;
  border: 3px solid #f1f2f6;
  font-size: 21px;
  z-index: 3;
}
.nav__bar {
  display: flex;
  background-color: white;
  margin-top: 40px;
  border-radius: 35px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  justify-content: space-between;
  height: 100px;
  box-shadow: 0px 0px 10px gray inset;
  z-index: 2;
}
.baricon__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 22px;
  width: 95px;
  margin-left: 30px;
}

.baricon__2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 22px;
  width: 95px;
  margin-right: 30px;
}

.baricon__2 i {
  opacity: 0.4;
}
.fa-globe-americas {
  color: #4067ff;
}
.fa-home {
  opacity: 0.4;
}
