@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

body {
  width: 100%;
  height: 660px;
  background-color: #e5e5e5;
  font-family: "Kalam";
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

.firstbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  position: relative;
}
.box-img {
  max-width: 320px;
}
.hoverbox {
  max-width: 320px;
  display: none;
  background-color: pink;
  width: 50%;
  height: 50%;
  color: white;
  position: absolute;
}
.box-img:hover ~ .hoverbox {
  display: block;
  transform: translate(10px, 10px);
}

.hoverbox-title span {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.hoverbox-title span:first-child {
  font-size: 17px;
  font-weight: 700;
}
.hoverbox-title span:last-child {
  font-size: 13px;
  color: black;
}

.hoverbox-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}
.hoverbox-btn {
  margin-top: 20px;
  background-color: black;
  font-size: 14px;
  padding: 7px;
}
.box-img2 {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}
.secondbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  position: relative;
}
.secondbox-father {
  max-width: 320px;
  width: 50%;
  height: 50%;
  background-color: rgb(243, 154, 168);
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondbox .hoverbox2 {
  max-width: 320px;
  bottom: 100px;
  position: absolute;
  display: none;
  width: 50%;
  height: 20%;
  color: white;
}
.hoverbox-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #1f1c2c, #928dab);
}
.hoverbox-title2 {
  height: 100%;
  margin-top: 15px;
}
.hoverbox-title2 span {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}
.hoverbox-title2 span:first-child {
  font-size: 17px;
  font-weight: 700;
}
.hoverbox-title2 span:last-child {
  font-size: 13px;
  color: black;
}
.hoverbox-btn2 {
  background-color: black;
  font-size: 14px;
  padding: 7px;
  margin-right: 10px;
  margin-top: 40px;
}
.secondbox-father:hover {
  transform-origin: top;
  transform: scaleY(0.7);
}
.secondbox-father:hover ~ .hoverbox2 {
  display: block;
}
